h1 {
  color: #369;  
  font-size: 250%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.subTitle{
  padding-top: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #369;  
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 22%;
}
.container li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 0px;
  padding: 3px;
  height: 1.6em;
  border-radius: 4px;
  border : 1px solid;
  border-color: #008CBA;
}
.container li.selected:hover {
  background-color: #BBD8DC !important;
  color: #607D8B;
}
.container li:hover {
  color: #369;
  background-color: #DDD;
  left: .1em;
}
.container .text {
  position: relative;
  top: -3px;
}
.container .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.selected {
  background-color: #CFD8DC !important;
  color: #008CBA;
}

.btn
{
    background-color: rgb(7, 55, 99);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}

.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: #3e8e41;
}