<!--The content below is only a placeholder and can be replaced.-->

<div class="btn-group">
  <button class="button" routerLink="/"> Home </button>
  <button class="button" routerLink="/bands"> Bands </button>
  <button class="button">Venues</button>
  <button class="button">Events</button>
  <button class="button">Likes</button>
</div>
<p style="clear:both">

<router-outlet></router-outlet>



<!--

<bands-widget></bands-widget>

<div container class = "container" >

  <li *ngFor="let band of bands" [class.selected]="band === selectedBand" (click)="onSelect(band)" >
    <span class = "badge"> {{band.bandId}} </span> {{band.bandName}}     
  </li>

  <div *ngIf="selectedBand" width = 100%> 
    <span class = "subTitle"> Selected Band Details </span>    
    <br>ID: {{selectedBand.bandId}}
    <br>Name: <input [(ngModel)]="selectedBand.bandName" [disabled]="disableEdit"> <button (click)="editBand()" class ="button button2"> {{buttonText}} </button>
  </div>
-->

<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.com/">Angular blog</a></h2>
  </li>
</ul>
-->


